@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #990000;
}
nav .clinic-title {
  width: 630px;
  height: 71px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .logo {
  width: 65px;
  height: 100%;
  margin-right: 20px;
}
nav .name {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}
nav .links a {
  margin-right: 50px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
}
nav .donateBTN {
  width: 170px;
  height: 50px;
  background-color: #FFFFFF;
  color: #990000;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50px;
  border-style: none;
}

footer {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #990000;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.herobanner {
  width: 100%;
  height: 980px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url(../../assets/clinic-images/clinic.jpg);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../../assets/clinic-images/clinic.jpg);
  padding: 0 50px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.herobanner .welcome {
  width: 1500px;
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.herobanner .welcome .cliniclogo {
  width: 224px;
  height: 220px;
  margin-right: 30px;
}
.herobanner .welcome .welcometext {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: bold;
}
.herobanner .partner-logos {
  width: 1500px;
  height: 300px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.herobanner .partner-logos .logo {
  width: 300px;
  height: 100%;
}

.services {
  width: 100%;
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: grey;
}
.services .services-title {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 50px;
}
.services .service-offer {
  width: 1500px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services .service-offer .service-circle {
  width: 250px;
  height: 100%;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50px;
  padding: 30px 30px 30px 30px;
}
.services .service-offer .service-circle .fa-inverse {
  color: #990000;
}
.services .service-offer .service-circle .service-type {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.services .service-offer .service-circle .service-offered {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: left;
}
.services .service-btns {
  width: 1200px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services .service-btns .calendar {
  width: 500px;
  height: 50px;
  background-color: #990000;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 50px;
}
.services .service-btns .report {
  width: 550px;
  height: 50px;
  background-color: #990000;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 50px;
}

.visit-us {
  height: 700px;
  width: 100%;
  background-color: #EEEDEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}
.visit-us .visitus-division-sector {
  height: 600px;
  width: 1770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.visit-us .visitus-header {
  color: #990000;
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  font-weight: bold;
}
.visit-us .visitus-pi {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.info {
  height: 100%;
  width: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 50px 0 50px;
}
.info .about-title {
  text-align: center;
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 50px 0 50px 0;
}
.info .about-img-banner {
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info .about-img-banner .about-img {
  width: 400px;
  height: 100%;
}
.info .about-Info {
  width: 100%;
  height: 230px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}
.info .history-title {
  text-align: center;
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 50px;
}
.info .history {
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info .history .history-info {
  width: 1000px;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  padding: 0 50px 0 0;
}
.info .history .founders {
  width: 400px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.info .history .founders .founder-img {
  width: 100%;
  height: 300px;
}
.info .impact-title {
  text-align: center;
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 50px;
}
.info .impact {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 50px;
}
.info .impact .impact-content {
  width: 400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EEEDEB;
  color: #990000;
  border-radius: 50px;
  padding: 20px 20px 20px 20px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.accordion-title {
  height: 50px;
  width: 100%;
  padding: 5px 10px 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #990000;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

/* displays the plus symbol when one of the accordions is not active */
.accordion-title:after {
  /* Unicode character for "plus" sign (+) */
  content: "+";
  font-size: 20px;
  color: #FFFFFF;
}

/* displays the minus symbol when one of the accordions is active */
.active:after {
  /* Unicode character for "minus" sign (-) */
  content: "−";
}

/* If one of the accordions is active it will change the original color into the hover color until it is inactive */
.active,
.accordion-title:hover {
  background-color: #000000;
}

.accordion-content {
  width: 100%;
  padding: 0 10px 0 10px;
  background-color: #EEEDEB;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.accordion-content p {
  margin-top: 5px;
}

.news {
  height: 2500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #990000;
  /* First row styling for newsletters and podcast */
  /* Second row styling for any articles */
  /* Styling for each article section */
  /* Third row styling for any articles */
}
.news .news-title {
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 50px;
}
.news .row {
  height: 200px;
  width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.news .half {
  height: 100%;
  width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}
.news .more-title {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #990000;
}
.news .more-btn {
  width: 300px;
  height: 50px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: #990000;
  color: #FFFFFF;
  border-radius: 50px;
  border: none;
}
.news .row2 {
  height: 300px;
  width: 1500px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.news .article-square {
  height: 100%;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}
.news .article-title {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #990000;
  padding: 20px 20px 20px 20px;
}
.news .read-btn {
  width: 200px;
  height: 50px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: #990000;
  color: #FFFFFF;
  border-radius: 50px;
  border: none;
}
.news .row3 {
  height: 350px;
  width: 1500px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.news .video-square {
  height: 100%;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}
.news .video-title {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #990000;
  padding: 20px 20px 0 20px;
}
.news .row4 {
  height: 400px;
  width: 1500px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.stories {
  height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EEEDEB;
}
.stories .story-title {
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 50px;
}
.stories .story {
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.stories .story .story-individual {
  height: 100%;
  width: 400px;
}

.research {
  height: 1080px;
  width: 1500px;
  padding: 0 50px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}
.research .research-title {
  text-align: center;
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 50px 0 50px 0;
}
.research .research-img-banner {
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.research .research-img-banner .research-img {
  width: 400px;
  height: 100%;
}
.research .research-Info {
  width: 100%;
  height: 200px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.archive-title {
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 50px 0 50px 0;
  text-align: center;
}

.archive {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.archive .newsletter-year {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: 20px;
}

.volunteer-title {
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 50px 0 50px 0;
  text-align: center;
}

.odd {
  background-color: #990000;
  height: 600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.odd .image-left {
  width: 900px;
  height: 100%;
}
.odd .volunteer-info-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.odd .header-right {
  margin-bottom: 50px;
  text-align: center;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}
.odd .text-right {
  padding: 0 30px 0 50px;
  margin-bottom: 50px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}
.odd .right-btn {
  width: 250px;
  height: 57px;
  background-color: #FFFFFF;
  color: #990000;
  font-size: 40px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 50px;
}
.odd .socialmedia-right {
  width: 190px;
  height: 50px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.odd .socialmedia-right .fa-inverse {
  color: #FFFFFF;
}

.even {
  background-color: #FFFFFF;
  height: 600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.even .image-right {
  width: 900px;
  height: 100%;
}
.even .volunteer-info-left {
  padding: 0 30px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.even .header-left {
  margin-bottom: 50px;
  text-align: center;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #990000;
}
.even .text-left {
  margin-bottom: 50px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #990000;
}
.even .left-btn {
  width: 250px;
  height: 57px;
  background-color: #990000;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 50px;
}
.even .socialmedia-left {
  width: 190px;
  height: 50px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.even .socialmedia-left .fa-inverse {
  color: #990000;
}

.partners-content {
  width: 1500px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 50px 0 50px;
}
.partners-content .partners-header {
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 50px 0 50px 0;
  text-align: center;
}
.partners-content .partner-img-banner {
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.partners-content .partner-img-banner .partner-img {
  width: 400px;
  height: 100%;
}
.partners-content .partner-info {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}
.partners-content .partners-btn {
  width: 400px;
  height: 60px;
  background-color: #990000;
  border: none;
  border-radius: 50px;
  margin-top: 50px;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.partners-content .socialmedia {
  width: 190px;
  height: 50px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.partners-content .socialmedia .fa-inverse {
  color: #990000;
}

.donate-page {
  height: 100%;
  width: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 50px 0 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
}
.donate-page .donate-title {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  margin: 50px 0 50px 0;
}
.donate-page .donate-img-banner {
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.donate-page .donate-img-banner .donate-img {
  width: 400px;
  height: 100%;
}
.donate-page .content {
  height: 800px;
  width: 100%;
  font-size: 30px;
  text-align: left;
}
.donate-page #donate-btn {
  height: 100px;
  width: 435px;
  margin-top: 50px;
  border-radius: 50px;
  border: 2px solid #990000;
  background-color: #990000;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.donate-page #donate-btn:hover {
  background-color: #FFFFFF;
  color: #990000;
  -webkit-animation: bounce 0.75s ease-in-out infinite alternate;
          animation: bounce 0.75s ease-in-out infinite alternate;
}

/* Animation */
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}