:root {
  --primary: #990000;
  --light: #ffffff;
  --dark: #000000;
}


/* Web Page Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

/* 
When adding fonts use this line of code below
font-family: 'Roboto', sans-serif;

Hex Colors
Red: #990000
Light Grey: #EEEDEB
White: #FFFFFF
Black: #000000
*/

/* Navigation Styling */
nav {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #990000;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}

.clinic-title {
  width: 630px;
  height: 71px;
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.logo {
  width: 65px;
  height: 100%;
  margin-right: 20px;
}

.name {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.links a {
  margin-right: 50px;
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.donateBTN {
  width: 170px;
  height: 50px;
  background-color: #fff;
  color: #990000;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50px;
  border-style: none;
}

/* Footer Styling */
footer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #990000;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 40px;
}

/* Home Page Styling */
.herobanner {
  width: 100%;
  height: 980px;
  background-image: linear-gradient(
    to right,
    rgba(255,255,255,0.7),
    rgba(255,255,255,0.7)
    ),
    url(../assets/clinic.jpg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.cliniclogo {
  width: 224px;
  height: 100%;
  margin-right:30px;
}

.welcometext {
  color:#000;
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  font-weight: bold;
}

.servicearray {
  width: 100%;
  height: 100%;
}

.services-heading {
  color:#000;
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  font-weight: bold;
  margin: 83px 0 0 0;
  text-align: center;
}

.visit-us {
  height: 980px;
  width: 100%;
  background-color: #EEEDEB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visitus-division-sector {
  height: 800px;
  width: 1770px;
  display: flex;
  flex-direction: row;
  padding: 0 75px 0 75px;
}

.visitus-header {
  color: #990000;
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  font-weight: bold;
}

.visitus-pi {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: bold;
}


/* Volunteer Page Styling */
.volunteer-title {
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 50px 0 50px 0;
  text-align: center;
}

/* Styling for the odd rows on the Volunteer page */

/* Use display flex, align items, and justify content to help position content on the page instead of using margin. These three things help make positioning much easier on the page.

I also made a few adjustments to the info section by adding padding to give the text some space from the image and the side of the browser. Plus, I added a margin bottom for the text so they appear separate from each other.
*/
.odd {
  background-color: #990000;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.image-left {
  width: 900px;
  height: 100%;
}

.volunteer-info-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-right {
  margin-bottom: 50px;
  text-align: center;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
.text-right {
  padding: 0 30px 0 50px;
  margin-bottom: 50px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.right-btn {
  width: 250px;
  height: 57px;
  background-color: #fff;
  color: #990000;
  font-size: 40px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 50px;
}

/* Styling for the even rows on the Volunteer page */
.even {
  background-color: #ffffff;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.image-right {
  width: 900px;
  height: 100%;
}

.volunteer-info-left {
  padding: 0 30px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-left {
  margin-bottom: 50px;
  text-align: center;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #990000;
}

.text-left {
  margin-bottom: 50px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #990000;
}

.left-btn {
  width: 250px;
  height: 57px;
  background-color: #990000;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 50px;
}

/* Partners Page Styling */

.partners-content {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.partners-header {
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 50px 0 50px 0;
  text-align: center;
}

.partners-btn {
  width: 500px;
  height: 57px;
  background-color: #990000;
  border: none;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 10px;
  margin-bottom: 10px;
}

.partners-btn-txt {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

/* About Us Page Styling */
/* Info about the Clinic Styling */
.info {
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-title {
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 50px;
}

.about-Info {
  width: 100%;
  height: 230px;
  padding: 0 50px 0 50px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

/* FAQ Accordion Styling */
.accordion-title {
  height: 50px;
  width: 900px;
  padding: 5px 10px 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #990000;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

/* displays the plus symbol when one of the accordions is not active */
.accordion-title:after {
  /* Unicode character for "plus" sign (+) */
  content: "\002B";
  font-size: 20px;
  color: #fff;
}

/* displays the minus symbol when one of the accordions is active */
.active:after {
  /* Unicode character for "minus" sign (-) */
  content: "\2212";
}

/* If one of the accordions is active it will change the original color into the hover color until it is inactive */
.active,
.accordion-title:hover {
  background-color: #000;
}

.accordion-content {
  width: 900px;
  padding: 0 10px 0 10px;
  background-color: #eeedeb;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-content p {
  margin-top: 5px;
}

/* Clinic News Styling */
.news {
  height: 1500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #990000;
}

.news-title {
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #fff;
  margin-bottom: 50px;
}

/* First row styling for newsletters and podcast */
.row {
  height: 200px;
  width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.half {
  height: 100%;
  width: 620px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.more-title {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #990000;
}

.more-btn {
  width: 300px;
  height: 50px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: #990000;
  color: #fff;
  border-radius: 50px;
  border: none;
}

/* Second row styling for any articles */
.row2 {
  height: 300px;
  width: 1400px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Third row styling for any articles */
.row3 {
  height: 200px;
  width: 1400px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Styling for each article section */
.square {
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.article-title {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #990000;
  padding: 0 20px 0 20px;
}

.read-btn {
  width: 200px;
  height: 50px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: #990000;
  color: #fff;
  border-radius: 50px;
  border: none;
}

/* Patient Stories Styling */
.stories {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eeedeb;
}

.story-title {
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 50px;
}

.story {
  height: 80px;
  width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

/* Research Styling */
.research {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.research-title {
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 50px;
}

.research-Info {
  width: 100%;
  height: 200px;
  padding: 0 50px 0 50px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

/* Newsletter Archive Page Styling */
.archive-title {
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.archive {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-year {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: 20px;
}

/* Donate Page Styling */
/* Main content */
.donate-page {
  width: 100%;
  display: flex;
  padding: 1.5rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.donate-page h2 {
  margin: 0.75rem 0 1.75rem 0;
  font-size: 2.25rem;
}

.content {
  width: 100%;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

/* Buttons */
#donate-btn {
  border-radius: 42px;
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: var(--light);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 1rem 0 1.5rem 0;
  padding: 0.75rem 2rem;
}

#donate-btn:hover {
  background-color: var(--light);
  color: var(--primary);
  animation: bounce 0.75s ease-in-out infinite alternate;
}

/* Animation */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
