// Styling variables
$white: #FFFFFF;
$black: #000000;
$red: #990000;
$light-grey: #EEEDEB;
$font: "Roboto", sans-serif;
$overlay-white: rgba(255,255,255,0.7);
$overlay: linear-gradient(to right, $overlay-white, $overlay-white);