// Donate Page
.donate-page {
  height: 100%;
  width: 1500px;
  display: flex;
  padding: 0 50px 0 50px;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 50px;
  font-family: $font;

  .donate-title {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    margin: 50px 0 50px 0;
  }

  .donate-img-banner {
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .donate-img {
      width: 400px;
      height: 100%;
    }
  }

  .content {
    height: 800px;
    width: 100%;
    font-size: 30px;
    text-align: left;
  }

  #donate-btn {
    height: 100px;
    width: 435px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 50px;
    border: 2px solid $red;
    background-color: $red;
    color: $white;
    font-family: $font;
    font-size: 70px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  #donate-btn:hover {
    background-color: $white;
    color: $red;
    animation: bounce 0.75s ease-in-out infinite alternate;
  }
}

/* Animation */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
