<h1 class="archive-title">Monthly Newsletters</h1>

<div class="archive">
  <h2 class="newsletter-year">2022</h2>
  <ul class="allData">
    <li>January: <a href="">January Newsletter</a></li>
    <li>February: <a href="">February Newsletter</a></li>
    <li>March: <a href="">March Newsletter</a></li>
    <li>April: <a href="">April Newsletter</a></li>
    <li>May: <a href="">May Newsletter</a></li>
    <li>June: <a href="">June Newsletter</a></li>
    <li>July: <a href="">July Newsletter</a></li>
    <li>August: <a href="">August Newsletter</a></li>
    <li>September: <a href="">September Newsletter</a></li>
    <li>October: <a href="">October Newsletter</a></li>
    <li>November: <a href="">November Newsletter</a></li>
    <li>December: <a href="">December Newsletter</a></li>
  </ul>
</div>
