// Clinic background image and Title Section
.herobanner {
  width: 100%;
  height: 980px;
  background-image: $gradient-white, url(../../assets/clinic-images/clinic.jpg);
  padding: 0 50px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .welcome {
    width: 1500px;
    height: 225px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .cliniclogo {
      width: 224px;
      height: 100%;
      margin-right: 30px;
    }

    .welcometext {
      color: $black;
      font-family: $font;
      font-size: 60px;
      font-weight: bold;
    }
  }

  .partner-logos {
    width: 1500px;
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .logo {
      width: 300px;
      height: 100%;
    }
  }
}
