<h1 class="volunteer-title">Volunteer</h1>

<!-- IU School of Medicine -->
<div class="odd">
  <img class="image-left" src="assets/iuSchoolOfMed.png" alt="" />

  <div class="volunteer-info-right">
    <header class="header-right">IU School of Medicine</header>
    <p class="text-right">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="iuMed.html"><button class="right-btn">Learn More</button></a>
  </div>
</div>

<!-- IU School of Dentistry -->
<div class="even">
  <div class="volunteer-info-left">
    <header class="header-left">IU School of Dentistry</header>
    <p class="text-left">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="iuDentistry.html">
      <button class="left-btn">Learn More</button>
    </a>
  </div>
  <img class="image-right" src="assets/iuSchoolOfDentistry.png" alt="" />
</div>

<!-- IU School of Nursing -->
<div class="odd">
  <img class="image-left" src="assets/iuSchoolOfNursing.png" alt="" />

  <div class="volunteer-info-right">
    <header class="header-right">IU School of Nursing</header>
    <p class="text-right">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="iuNursing.html"> <button class="right-btn">Learn More</button></a>
  </div>
</div>

<!-- IU School of Social Work -->
<div class="even">
  <div class="volunteer-info-left">
    <header class="header-left">IU School of Social Work</header>
    <p class="text-left">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="iuSocialWork.html">
      <button class="left-btn">Learn More</button></a
    >
  </div>
  <img class="image-right" src="assets/iuSchoolOfSocial.png" alt="" />
</div>

<!-- IU Robert H. McKinney School of Law and Indiana Legal Services -->
<div class="odd">
  <img class="image-left" src="assets/iuSchoolOfLaw.png" alt="" />

  <div class="volunteer-info-right">
    <header class="header-right">
      IU Robert H. McKinney School of Law and Indiana Legal Services
    </header>
    <p class="text-right">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="iuLaw.html"><button class="right-btn">Learn More</button></a>
  </div>
</div>

<!-- University of Indianapolis Krannert School of Physical Therapy -->
<div class="even">
  <div class="volunteer-info-left">
    <header class="header-left">
      University of Indianapolis Krannert School of Physical Therapy
    </header>
    <p class="text-left">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="uindyPhysThera.html">
      <button class="left-btn">Learn More</button>
    </a>
  </div>
  <img class="image-right" src="assets/uindyPhysTher.png" alt="" />
</div>

<!-- IU School of Health and Human Sciences, Department of Occupational Therapy -->
<div class="odd">
  <img class="image-left" src="assets/occuThera.png" alt="" />

  <div class="volunteer-info-right">
    <header class="header-right">
      IU School of Health and Human Sciences, Department of Occupational Therapy
    </header>
    <p class="text-right">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="iuOccuThera.html">
      <button class="right-btn">Learn More</button>
    </a>
  </div>
</div>

<!-- IU School of Health and Human Sciences, Department of Physician Assistant Studies -->
<div class="even">
  <div class="volunteer-info-left">
    <header class="header-left">
      IU School of Health and Human Sciences, Department of Physician Assistant
      Studies
    </header>
    <p class="text-left">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="iuPhysAssist.html">
      <button class="left-btn">Learn More</button>
    </a>
  </div>

  <img class="image-right" src="assets/physAssist.png" alt="" />
</div>

<!-- Butler University College of Pharmacy and Health Sciences -->
<div class="odd">
  <img class="image-left" src="assets/butlerPharm.png" alt="" />

  <div class="volunteer-info-right">
    <header class="header-right">
      Butler University College of Pharmacy and Health Sciences
    </header>
    <p class="text-right">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="butlerPharm.html">
      <button class="right-btn">Learn More</button>
    </a>
  </div>
</div>

<!-- Vida Health Partnerships at IUPUI
 -->
<div class="even">
  <div class="volunteer-info-left">
    <header class="header-left">Vida Health Partnerships at IUPUI</header>
    <p class="text-left">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="vida.html"> <button class="left-btn">Learn More</button> </a>
  </div>

  <img class="image-right" src="assets/vida.png" alt="" />
</div>
<!-- IU School of Medicine Dermatology -->
<div class="odd">
  <img class="image-left" src="assets/derm.png" alt="" />

  <div class="volunteer-info-right">
    <header class="header-right">IU School of Medicine Dermatology</header>
    <p class="text-right">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="iuDerm.html">
      <button class="right-btn">Learn More</button>
    </a>
  </div>
</div>
<!-- IU School of Medicine Opthamology -->
<div class="even">
  <div class="volunteer-info-left">
    <header class="header-left">IU School of Medicine Opthamology</header>
    <p class="text-left">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="iuOptha.html">
      <button class="left-btn">Learn More</button>
    </a>
  </div>

  <img class="image-right" src="assets/opthamology.png" alt="" />
</div>

<!-- IU Physical Therapy -->
<div class="odd">
  <img class="image-left" src="assets/iuPhysThera.png" alt="" />

  <div class="volunteer-info-right">
    <header class="header-right">IU Physical Therapy</header>
    <p class="text-right">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="iuPhysThera.html">
      <button class="right-btn">Learn More</button>
    </a>
  </div>
</div>

<!-- IU School of Medicine Psychiatry -->
<div class="even">
  <div class="volunteer-info-left">
    <header class="header-left">IU School of Medicine Psychiatry</header>
    <p class="text-left">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="iuPsychiatry.html">
      <button class="left-btn">Learn More</button>
    </a>
  </div>

  <img class="image-right" src="assets/iuPsych.png" alt="" />
</div>
