<h1 class="volunteer-title">Volunteer</h1>

<!-- IU School of Medicine -->
<div class="odd">
  <img
    class="image-left"
    src="../../assets/partner-images/iuSchoolOfMed.png"
    alt=""
  />

  <div class="volunteer-info-right">
    <header class="header-right">IU School of Medicine</header>
    <p class="text-right">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>

    <a href="#partners/iuMed"><button class="right-btn">Learn More</button></a>

    <div class="socialmedia-right">
      <i class="fa-brands fa-twitter-square fa-3x fa-inverse"></i>
      <i class="fa-brands fa-facebook-square fa-3x fa-inverse"></i>
      <i class="fa-brands fa-instagram fa-3x fa-inverse"></i>
    </div>
  </div>
</div>

<!-- IU School of Dentistry -->
<div class="even">
  <div class="volunteer-info-left">
    <header class="header-left">IU School of Dentistry</header>
    <p class="text-left">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="#partners/iuDentistry">
      <button class="left-btn">Learn More</button>
    </a>

    <div class="socialmedia-left">
      <a
        href="https://www.facebook.com/Indiana-University-School-of-Dentistry-Student-Outreach-Clinic-136791323086078/"
        target="_blank"
      >
        <i class="fa-brands fa-facebook-square fa-3x fa-inverse"></i>
      </a>
    </div>
  </div>
  <img
    class="image-right"
    src="../../assets/partner-images/244413202_4281005461997956_1651953764310608796_n - Mikki Jaramillo.jpg"
    alt=""
  />
</div>

<!-- IU School of Nursing -->
<div class="odd">
  <img
    class="image-left"
    src="../../assets/partner-images/iuSchoolOfNursing.png"
    alt=""
  />

  <div class="volunteer-info-right">
    <header class="header-right">IU School of Nursing</header>
    <p class="text-right">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="#partners/iuNursing">
      <button class="right-btn">Learn More</button></a
    >
    <div class="socialmedia-right">
      <i class="fa-brands fa-twitter-square fa-3x fa-inverse"></i>
      <i class="fa-brands fa-facebook-square fa-3x fa-inverse"></i>
      <i class="fa-brands fa-instagram fa-3x fa-inverse"></i>
    </div>
  </div>
</div>

<!-- IU School of Social Work -->
<div class="even">
  <div class="volunteer-info-left">
    <header class="header-left">IU School of Social Work</header>
    <p class="text-left">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="#partners/iuSocialWork">
      <button class="left-btn">Learn More</button></a
    >
  </div>
  <img
    class="image-right"
    src="../../assets/partner-images/signal-2021-08-07-201150_001 - Jacquie Jean.jpeg"
    alt=""
  />
</div>

<!-- IU Robert H. McKinney School of Law and Indiana Legal Services -->
<div class="odd">
  <img
    class="image-left"
    src="../../assets/partner-images/iuSchoolOfLaw.png"
    alt=""
  />

  <div class="volunteer-info-right">
    <header class="header-right">
      IU Robert H. McKinney School of Law and Indiana Legal Services
    </header>
    <p class="text-right">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="#partners/iuLaw"><button class="right-btn">Learn More</button></a>
    <div class="socialmedia-right">
      <a href="https://www.instagram.com/iusoc_iumckinney/" target="_blank">
        <i class="fa-brands fa-instagram fa-3x fa-inverse"></i>
      </a>
    </div>
  </div>
</div>

<!-- University of Indianapolis Krannert School of Physical Therapy -->
<div class="even">
  <div class="volunteer-info-left">
    <header class="header-left">
      University of Indianapolis Krannert School of Physical Therapy
    </header>
    <p class="text-left">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="#partners/uindyPhysThera">
      <button class="left-btn">Learn More</button>
    </a>
    <div class="socialmedia-left">
      <i class="fa-brands fa-twitter-square fa-3x fa-inverse"></i>
      <i class="fa-brands fa-facebook-square fa-3x fa-inverse"></i>
      <i class="fa-brands fa-instagram fa-3x fa-inverse"></i>
    </div>
  </div>
  <img
    class="image-right"
    src="../../assets/partner-images/uindyPhysTher.png"
    alt=""
  />
</div>

<!-- IU School of Health and Human Sciences, Department of Occupational Therapy -->
<div class="odd">
  <img
    class="image-left"
    src="../../assets/partner-images/occuThera.png"
    alt=""
  />

  <div class="volunteer-info-right">
    <header class="header-right">
      IU School of Health and Human Sciences, Department of Occupational Therapy
    </header>
    <p class="text-right">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="#partners/iuOccuThera">
      <button class="right-btn">Learn More</button>
    </a>
    <div class="socialmedia-right">
      <a href="https://www.instagram.com/iuoccupationaltherapy/" target="_blank">
        <i class="fa-brands fa-instagram fa-3x fa-inverse"></i>
      </a>
    </div>
  </div>
</div>

<!-- IU School of Health and Human Sciences, Department of Physician Assistant Studies -->
<div class="even">
  <div class="volunteer-info-left">
    <header class="header-left">
      IU School of Health and Human Sciences, Department of Physician Assistant
      Studies
    </header>
    <p class="text-left">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="#partners/iuPhysAssist">
      <button class="left-btn">Learn More</button>
    </a>
    <div class="socialmedia-left">
      <a href="https://www.facebook.com/IUMPAS/" target="_blank">
        <i class="fa-brands fa-facebook-square fa-3x fa-inverse"></i>
      </a>
      <a href="https://www.instagram.com/iu_paprogram/?hl=en" target="_blank">
        <i class="fa-brands fa-instagram fa-3x fa-inverse"></i>
      </a>
    </div>
  </div>

  <img
    class="image-right"
    src="../../assets/partner-images/physAssist.png"
    alt=""
  />
</div>

<!-- Butler University College of Pharmacy and Health Sciences -->
<div class="odd">
  <img
    class="image-left"
    src="../../assets/partner-images/2bucop - Nicole A.jpg"
    alt=""
  />

  <div class="volunteer-info-right">
    <header class="header-right">
      Butler University College of Pharmacy and Health Sciences
    </header>
    <p class="text-right">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="#partners/butlerPharm">
      <button class="right-btn">Learn More</button>
    </a>
    <div class="socialmedia-right">
      <a href="https://www.facebook.com/butlerucop" target="_blank">
        <i class="fa-brands fa-facebook-square fa-3x fa-inverse"></i>
      </a>

      <a href="https://www.instagram.com/bucop_2021/" target="_blank">
        <i class="fa-brands fa-instagram fa-3x fa-inverse"></i>
      </a>
    </div>
  </div>
</div>

<!-- Vida Health Partnerships at IUPUI
 -->
<div class="even">
  <div class="volunteer-info-left">
    <header class="header-left">Vida Health Partnerships at IUPUI</header>
    <p class="text-left">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="#partners/vida"> <button class="left-btn">Learn More</button> </a>
    <div class="socialmedia-left">
      <a href="https://www.facebook.com/VIDAIUPUI/" target="_blank">
        <i class="fa-brands fa-facebook-square fa-3x fa-inverse"></i>
      </a>

      <a href="https://www.instagram.com/iupui_vida/" target="_blank">
        <i class="fa-brands fa-instagram fa-3x fa-inverse"></i>
      </a>
    </div>
  </div>

  <img
    class="image-right"
    src="../../assets/partner-images/IMG_2678 - Meghana Sankar.jpg"
    alt=""
  />
</div>

<!-- IU School of Medicine Dermatology -->
<div class="odd">
  <img class="image-left" src="../../assets/partner-images/derm.png" alt="" />

  <div class="volunteer-info-right">
    <header class="header-right">IU School of Medicine Dermatology</header>
    <p class="text-right">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="#partners/iuDerm">
      <button class="right-btn">Learn More</button>
    </a>
  </div>
</div>

<!-- IU School of Medicine Opthamology -->
<div class="even">
  <div class="volunteer-info-left">
    <header class="header-left">IU School of Medicine Opthamology</header>
    <p class="text-left">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="#partners/iuOptha">
      <button class="left-btn">Learn More</button>
    </a>
  </div>

  <img
    class="image-right"
    src="../../assets/partner-images/opthamology.png"
    alt=""
  />
</div>

<!-- IU Physical Therapy -->
<div class="odd">
  <img
    class="image-left"
    src="../../assets/partner-images/272866662_5407850325898713_6248309025501692249_n (1) - Minhwa Choi.jpg"
    alt=""
  />

  <div class="volunteer-info-right">
    <header class="header-right">IU Physical Therapy</header>
    <p class="text-right">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="#partners/iuPhysThera">
      <button class="right-btn">Learn More</button>
    </a>
    <div class="socialmedia-right">
      <a href="https://twitter.com/iupt_iusoc" target="_blank">
        <i class="fa-brands fa-twitter-square fa-3x fa-inverse"></i>
      </a>
      <a href="https://www.facebook.com/IUSOCPT" target="_blank">
        <i class="fa-brands fa-facebook-square fa-3x fa-inverse"></i>
      </a>
      <a href="https://www.instagram.com/iupt_iusoc/" target="_blank">
        <i class="fa-brands fa-instagram fa-3x fa-inverse"></i>
      </a>
    </div>
  </div>
</div>

<!-- IU School of Medicine Psychiatry -->
<div class="even">
  <div class="volunteer-info-left">
    <header class="header-left">IU School of Medicine Psychiatry</header>
    <p class="text-left">
      Learn more about how to get involved as a student, and sign up for
      volunteering.
    </p>
    <a href="#partners/iuPsychiatry">
      <button class="left-btn">Learn More</button>
    </a>
    </div>

    <img
      class="image-right"
      src="../../assets/partner-images/SOCmentalhealth - Psych SIG.jpg"
      alt=""
    />
  </div>
</div>
