<div class="partners-content">
  <h1 class="partners-header">
    Butler University College of Pharmacy and Health Sciences
  </h1>

  <div class="partner-img-banner">
    <img
      class="partner-img"
      src="../../assets/partner-images/10.2 volunteers (1) - Nicole A.jpg"
      alt=""
    />
    <img
      class="partner-img"
      src="../../assets/partner-images/10.2 volunteers 2 (1) - Nicole A.jpg"
      alt=""
    />
    <img
      class="partner-img"
      src="../../assets/partner-images/Image (1) - Nicole A.jpeg"
      alt=""
    />
  </div>

  <p class="partner-info">
    Butler University Community Outreach Pharmacy (BUCOP) is a student-run
    pharmacy organization that provides pharmacy services free of charge to our
    neighbors in the East side of Indianapolis in partnership with Indiana
    University Student Outreach Clinic (IUSOC) since 2009. Our pharmacy services
    include but are not limited to provision of free medications to treat a
    variety of acute and chronic illnesses, patient assistance programs and
    medication counseling. We provide unique educational opportunities to
    Butler’s student pharmacists. As an organization, we strive to give back to
    our community and help build the next generation of health care leaders and
    patient advocates for years to come. As a clinic, we are strong advocates
    for universal access to adequate, safe, and affordable healthcare for those
    in need throughout Indianapolis.
  </p>

  <h2 class="partners-header">How to get involved as a student</h2>

  <p class="partner-info">
    In order to volunteer at the clinic, the student must be enrolled in the
    College of Pharmacy and Health Sciences at Butler University which includes
    pre-professional and professional phase pharmacy students, Health Sciences
    major students and pre-PA students. A pharmacy technician license or a
    pharmacy intern license is not required to volunteer. A student that is not
    eligible to volunteer may still apply to volunteer and application will be
    handled on a case to case basis. Interested in volunteering? Ready to make a
    difference in the community? Follow and message us on twitter or facebook!
    For any questions, please email us at bucopstudent@gmail.com
  </p>

  <!-- <h1 class="contact-header">Contact Info</h1>
  <p class="contact-info">
    For any questions, please email us at bucopstudent@gmail.com
  </p> -->

  <div class="socialmedia">
    <a href="https://www.facebook.com/butlerucop" target="_blank">
      <i class="fa-brands fa-facebook-square fa-3x fa-inverse"></i>
    </a>

    <a href="https://www.instagram.com/bucop_2021/" target="_blank">
      <i class="fa-brands fa-instagram fa-3x fa-inverse"></i>
    </a>
  </div>
</div>
