<div class="partners-content">
  <h1 class="partners-header">IU School of Medicine Dermatology</h1>

  <div class="partner-img-banner">
    <img
      class="partner-img"
      src="../../assets/clinic-images/inside-clinic.png"
      alt=""
    />
    <img
      class="partner-img"
      src="../../assets/clinic-images/iuSchoolOfDentistry.png"
      alt=""
    />
    <img
      class="partner-img"
      src="../../assets/clinic-images/iuSchoolOfSocial.png"
      alt=""
    />
  </div>

  <p class="partner-info">
    Skin Clinic Chair, dermatology involvement started in summer 2021, we
    provided educational resources and free sunscreen on skin cancer prevention
    this academic year, goal is to provide skin cancer screening on bi-annual
    basis once logistics and approvals are in place, if neighbor has suspicious
    mole then continuity of care will be established in partnership with
    Eskenazi Dermatology to perform skin biopsy
  </p>

  <h2 class="partners-header">How to get involved as a student</h2>

  <p class="partner-info">announcements sent to Dermatology SIG listserv</p>
</div>
