<div class="partners-content">
  <h1 class="partners-header">IU School of Dentistry</h1>

  <div class="partner-img-banner">
    <img
      class="partner-img"
      src="../../assets/clinic-images/inside-clinic.png"
      alt=""
    />
    <img
      class="partner-img"
      src="../../assets/clinic-images/iuSchoolOfDentistry.png"
      alt=""
    />
    <img
      class="partner-img"
      src="../../assets/clinic-images/iuSchoolOfSocial.png"
      alt=""
    />
  </div>

  <p class="partner-info">
    Welcome! We represent the IU School of Dentistry. We have been providing
    care in the Student Outreach Clinic since 2011. Our student volunteers come
    from the Doctor of Dental Surgery Program in all four years. We are able to
    provide dental treatment under the supervision of our volunteer faculty. At
    the clinic, we treat urgent and acute needs, including dental pain,
    orofacial pain, swellings, and trauma. Common treatments we perform include
    oral examinations, restorations (fillings), and extractions.
  </p>

  <h2 class="partners-header">How to get involved as a student</h2>

  <p class="partner-info">
    IU School of Dentistry students enrolled in the Doctor of Dental Surgery
    Program may volunteer at the clinic. Please check your school email from the
    IUSD SOC student board for instructions on how to volunteer.
  </p>

  <div class="socialmedia">
    <a
      href="https://www.facebook.com/Indiana-University-School-of-Dentistry-Student-Outreach-Clinic-136791323086078/"
      target="_blank"
    >
      <i class="fa-brands fa-facebook-square fa-3x fa-inverse"></i>
    </a>
  </div>
</div>
