<div class="partners-content">
  <h1 class="partners-header">IU School of Medicine</h1>

  <div class="partner-img-banner">
    <img
      class="partner-img"
      src="../../assets/partner-images/iusm1.jpg"
      alt=""
    />
    <img
      class="partner-img"
      src="../../assets/partner-images/iusm2.jpg"
      alt=""
    />
    <img
      class="partner-img"
      src="../../assets/partner-images/iusm3.jpg"
      alt=""
    />
  </div>

  <p class="partner-info">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet eaque facilis
    eum minus! A, earum, veniam corporis praesentium quos vitae modi quod eos
    voluptatem quaerat consectetur voluptatibus laborum iure magni! Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Corporis, quidem inventore
    quaerat accusamus hic, quae itaque maiores eos nam ipsam recusandae?
    Assumenda tenetur temporibus quaerat iste adipisci aspernatur eveniet quam?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
    voluptatem quis modi ad numquam sint vitae ducimus repellendus atque quos.
    Tempore natus eaque dolor ut dignissimos odio voluptates officiis
    officia!Lorem
  </p>

  <h2 class="partners-header">How to get involved as a student</h2>

  <p class="partner-info">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet eaque facilis
    eum minus! A, earum, veniam corporis praesentium quos vitae modi quod eos
    voluptatem quaerat consectetur voluptatibus laborum iure magni! Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Corporis, quidem inventore
    quaerat accusamus hic, quae itaque maiores eos nam ipsam recusandae?
    Assumenda tenetur temporibus quaerat iste adipisci aspernatur eveniet quam?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
    voluptatem quis modi ad numquam sint vitae ducimus repellendus atque quos.
    Tempore natus eaque dolor ut dignissimos odio voluptates officiis
    officia!Lorem
  </p>

  <a
    href="https://comet.soic.iupui.edu/iusoc/index.php/account/login"
    target="_blank"
  >
    <button class="partners-btn">Volunteer Sign Up</button>
  </a>

  <div class="socialmedia">
    <i class="fa-brands fa-twitter-square fa-3x fa-inverse"></i>
    <i class="fa-brands fa-facebook-square fa-3x fa-inverse"></i>
    <i class="fa-brands fa-instagram fa-3x fa-inverse"></i>
  </div>
</div>
