<div class="partners-content">
  <h1 class="partners-header">
    IU School of Health and Human Sciences, Department of Occupational Therapy
  </h1>

  <p>
    IU Occupational therapy has been a partner at the Student Outreach Clinic
    since 2013. Occupational therapy supports and equips individuals to
    meaningfully engage in the occupations/activities of everyday life. At the
    SOC, occupational therapy offers a variety of services for musculoskeletal
    conditions, cognitive deficits, poor sleep quality, chronic pain, health
    management, mental health, as well as any condition that limits an
    individual's ability to perform their desired occupations satisfactorily. OT
    students provide education, modalities, orthotics, adaptive equipment, home
    exercise programs, and environmental/activity modification suggestions to
    our neighbors at the clinic.
  </p>

  <h2 class="partners-header">Info about how to get involved as a student</h2>

  <p>
    For more information on volunteering as a student, contact Jennifer King
    (jnk1@iu.edu) or Valerie Ballinger (vballing@iu.edu).
  </p>

  <!-- No Volunteer Link -->

  <button class="partners-btn">
    <h1 class="partners-btn-txt">Volunteer Sign Up</h1>
  </button>
</div>
