<div class="partners-content">
  <h1 class="partners-header">IU School of Medicine Opthamology</h1>

  <p>
    IUSM's OSIG operates the eye clinic on he last Saturday of each month
    (pending holidays). We offer a multitude of eye health screening for a
    near-comprehensive exam including intraocular pressures, visual field,
    acuity, and refraction measurements along with fundus imaging. Our faculty
    and resident volunteers review our screening results and determine the need
    for referrals to Eskenazi for further workup and management, and our team of
    patient navigators provide resources and communication to help ensure proper
    follow-up so that our neighbors can get the full eye care they need. We have
    also partnered with a local LensCrafters so that our neighbors in need of
    eyeglasses can receive a free pair of frames with prescription lenses using
    our referral!
  </p>

  <h2 class="partners-header">Info about how to get involved as a student</h2>

  <p>
    To volunteer with us and learn about the various screening techniques we
    implement for our neighbors' eye health, please reach out to
    ophtha@iupui.edu for information!
  </p>

  <!-- No Volunteer Link -->

  <button class="partners-btn">
    <h1 class="partners-btn-txt">Volunteer Sign Up</h1>
  </button>
</div>
