<div class="partners-content">
  <h1 class="partners-header">IU Physical Therapy</h1>

  <p>
    Indiana University Student Outreach Clinic Physical Therapy (IU SOC PT) started in 2012 as a collaborative partner with IU Student Outreach Clinic. The mission of the IU SOC PT clinic is to provide patient education, improve movement dysfunction, identify health risk factors, alleviate pain and enhance functional mobility for a variety of neuromusculoskeletal and cardiopulmonary conditions. Through inter-professional collaboration and education, student volunteers contribute to the patients’ physical, emotional, and social needs. Additionally, we offer pelvic floor physical therapy once per semester for various pelvic conditions. Physical therapy services are provided by IU and UIndy DPT students under the mentorship of upperclassmen and the guidance of licensed physical therapists. 
  </p>

  <h2 class="partners-header">Info about how to get involved as a student</h2>

  <p>
    As a IU Doctorate of Physical Therapy (DPT) student, first years are required to volunteer at least once during their first academic year. Second and 3rd years are sent a volunteer sign-up sheet at the beginning of each semester to sign up on available clinic dates.
  </p>

  <!-- No Volunteer Link -->

  <button class="partners-btn">
    <h1 class="partners-btn-txt">Volunteer Sign Up</h1>
  </button>
</div>
