<div class="partners-content">
  <h1 class="partners-header">
    IU School of Health and Human Sciences, Department of Physician Assistant
    Studies
  </h1>

  <p>
    My name is Lenell Campbell a second year Physician Assistant student at IUPUI and the current Chair for the PA program. I believe the PA program started as a partner in 2017. Since, we have worked along side the medicine team to provide exceptional care to patients who enter the clinic. Our duties include taking history, performing physical exams, ordering and interpreting labs, writing medical notes, making appropriate referrals, prescribing medications, conducting patient education, and staffing with residents/chief physician.  
  </p>

  <h2 class="partners-header">Info about how to get involved as a student</h2>

  <p>
    I encourage everyone to get involved and to at least volunteer once! This is a wonderful opportunity to apply the skills you have learned while serving the community. You can sign up for volunteer shifts with the link below. 
  </p>

  <!-- Volunteer Link: https://comet.soic.iupui.edu/iusoc/index.php/account/login -->

  <button class="partners-btn">
    <h1 class="partners-btn-txt">Volunteer Sign Up</h1>
  </button>
</div>
