<div class="partners-content">
  <h1 class="partners-header">
    IU School of Health and Human Sciences, Department of Physician Assistant
    Studies
  </h1>

  <div class="partner-img-banner">
    <img
      class="partner-img"
      src="../../assets/clinic-images/inside-clinic.png"
      alt=""
    />
    <img
      class="partner-img"
      src="../../assets/clinic-images/iuSchoolOfDentistry.png"
      alt=""
    />
    <img
      class="partner-img"
      src="../../assets/clinic-images/iuSchoolOfSocial.png"
      alt=""
    />
  </div>

  <p class="partner-info">
    My name is Lenell Campbell a second year Physician Assistant student at
    IUPUI and the current Chair for the PA program. I believe the PA program
    started as a partner in 2017. Since, we have worked along side the medicine
    team to provide exceptional care to patients who enter the clinic. Our
    duties include taking history, performing physical exams, ordering and
    interpreting labs, writing medical notes, making appropriate referrals,
    prescribing medications, conducting patient education, and staffing with
    residents/chief physician.
  </p>

  <h2 class="partners-header">How to get involved as a student</h2>

  <p class="partner-info">
    I encourage everyone to get involved and to at least volunteer once! This is
    a wonderful opportunity to apply the skills you have learned while serving
    the community. You can sign up for volunteer shifts with the link below.
  </p>

  <a
    href="https://comet.soic.iupui.edu/iusoc/index.php/account/login"
    target="_blank"
  >
    <button class="partners-btn">Volunteer Sign Up</button>
  </a>

  <div class="socialmedia">
    <a href="https://www.facebook.com/IUMPAS/" target="_blank">
      <i class="fa-brands fa-facebook-square fa-3x fa-inverse"></i>
    </a>
    <a href="https://www.instagram.com/iu_paprogram/?hl=en" target="_blank">
      <i class="fa-brands fa-instagram fa-3x fa-inverse"></i>
    </a>
  </div>
</div>
