<div class="partners-content">
  <h1 class="partners-header">IU School of Medicine Psychiatry</h1>

  <p>
    The Mental Health Clinic at the Student Outreach Clinic was established in
    2021 with the goal of providing a free, safe space for our neighbors in
    order to address any mental health concerns they may have or any concerns
    that the clinic has on their behalf. The goal of the Mental Health Clinic is
    to triage at-risk patients to both acutely treat their illnesses, as well as
    connect them with long-term outside mental health resources to ensure that
    they receive the help that they not only need, but also deserve. Neighbors
    can be referred to us for psychiatric screenings, diagnostic interviews,
    therapy recommendations and referrals, medication management, and more.
    Looking long-term, our executive board is working with IU Psychology PhD
    students to provide individual and group therapy services at the clinic.
  </p>

  <h2 class="partners-header">Info about how to get involved as a student</h2>

  <p>
    Volunteer sign-ups are announced through the IUSM Psychiatry Student
    Interest Group listserve. Positions are available for MS1-MS4. We hope to
    expand and offer volunteering to psychology doctorate students soon. To add
    yourself to the mailing list, send an email message to
    "PSYCHSIG-L-subscribe@iupui.edu".
  </p>

  <!-- No Volunteer link -->

  <button class="partners-btn">
    <h1 class="partners-btn-txt">Volunteer Sign Up</h1>
  </button>
</div>
