<div class="partners-content">
  <h1 class="partners-header">IU School of Social Work</h1>

  <div class="partner-img-banner">
    <img
      class="partner-img"
      src="../../assets/clinic-images/inside-clinic.png"
      alt=""
    />
    <img
      class="partner-img"
      src="../../assets/clinic-images/iuSchoolOfDentistry.png"
      alt=""
    />
    <img
      class="partner-img"
      src="../../assets/clinic-images/iuSchoolOfSocial.png"
      alt=""
    />
  </div>

  <p class="partner-info">
    Social Work joined the clinic in 2011 with a mission to foster social and
    economic change in the Near Eastside by building relationships with
    community members, collaborating with existing networks, increasing
    awareness of health disparities, and promoting education while improving the
    skills of social work students to understand the strengths, dignity, and
    hope in all.
  </p>

  <h2 class="partners-header">Info about how to get involved as a student</h2>

  <p class="partner-info">
    BSW and MSW students currently enrolled in the IU School of Social Work can
    volunteer. Volunteer hours at the clinic may count toward your practicum
    hours. Please Email: iusoc.ssw@gmail.com to learn more and to fill out a new
    volunteer form!
  </p>
</div>
