<div class="partners-content">
  <h1 class="partners-header">Vida Health Partnerships at IUPUI</h1>

  <div class="partner-img-banner">
    <img
      class="partner-img"
      src="../../assets/clinic-images/inside-clinic.png"
      alt=""
    />
    <img
      class="partner-img"
      src="../../assets/clinic-images/iuSchoolOfDentistry.png"
      alt=""
    />
    <img
      class="partner-img"
      src="../../assets/clinic-images/iuSchoolOfSocial.png"
      alt=""
    />
  </div>

  <p class="partner-info">
    VIDA (Volunteer Initiatives Domestic and Abroad) Health Partnerships is the
    largest undergraduate student organization at IUPUI. Our primary purpose is
    to develop student partnerships for international and local health equity,
    as well as social justice. Through our 5 pillars - service, advocacy,
    fundraising, leadership, and ethics - VIDA members practice ethical service
    and leadership development through healthcare community building. In the
    spring of 2012, VIDA began its partnership with the SOC as Timmy Global
    Health providing front desk registration support and later became an
    official partner in 2015. In 2019, our organization branched away from Timmy
    Global Health and the creation of VIDA Health Partnerships began. With
    greater autonomy, we were able to better directly serve our partnerships
    with local and international service organizations such as the SOC. The
    services we provide at the SOC include: - Welcoming patients warmly to the
    clinic - Checking in patients (COVID screening, registration, etc.) -
    Collaborating with fellow partners to track patient flow and intake on the
    sign-in spreadsheet - Distributing, collecting, and recording patient
    information and consent forms onto patient charts on online EMR - Directing
    patients to various health partners at clinic - Checking out patients after
    they have been seen by partners
  </p>

  <h2 class="partners-header">How to get involved as a student</h2>

  <p class="partner-info">
    Applications to become a Front Desk Volunteer (FDV) will open each semester
    to IUPUI undergraduate students. You must become a VIDA member in order to
    volunteer. If you are interested in learning more about VIDA and/or applying
    to become an FDV, please email the VIDA Director of IU-SOC at
    vidahp13@iu.edu.
  </p>

  <div class="socialmedia">
    <a href="https://www.facebook.com/VIDAIUPUI/" target="_blank">
      <i class="fa-brands fa-facebook-square fa-3x fa-inverse"></i>
    </a>

    <a href="https://www.instagram.com/iupui_vida/" target="_blank">
      <i class="fa-brands fa-instagram fa-3x fa-inverse"></i>
    </a>
  </div>
</div>
