<div class="herobanner">
  <div class="welcome">
    <div>
      <img
        class="cliniclogo"
        src="assets/logos/clinicLogo.jpg"
        alt="Outreach Clinic Logo"
      />
    </div>
    <div>
      <h1 class="welcometext">Welcome to the Student Outreach Clinic</h1>
    </div>
  </div>
  <div class="partner-logos">
    <img
      class="logo"
      src="../../assets/logos/University_of_Indianapolis_Official_Seal.png"
      alt="UIndy Logo"
    />
    <img
      class="logo"
      src="../../assets/logos/logo_-indiana-university-hoosiers-iu-white-with-red-outline.png"
      alt="IU Logo"
    />
    <img
      class="logo"
      src="../../assets/logos/butler_bulldogs_logo_secondary_19903392.png"
      alt="Butler Logo"
    />
  </div>
</div>
<section class="services">
  <h1 class="services-title">Services</h1>

  <div class="service-offer">
    <div class="service-circle">
      <i class="fa-solid fa-house-medical fa-6x fa-inverse"></i>
      <h3 class="service-type">Medical</h3>
      <ul class="service-offered">
        <li>New patient appointments</li>
        <li>Screening labs</li>
        <li>Managing disease</li>
        <li>Pap Smears</li>
        <li>Diabetic retinopathy screening</li>
        <li>Skin cancer screening</li>
        <li>Neurology</li>
        <li>Robust formulary covering multiple disease states</li>
        <li>Supportive non-pharmacological methods for disease management</li>
        <li>Smoking cessation education</li>
        <li>Patient friendly handouts for all prescriptions</li>
        <li>
          Access to high-cost inhalation and insulin treatments through patient
          assistance programs
        </li>
        <li>
          Future services in process: Variety of vaccinations - Influenza,
          COVID-19, etc.
        </li>
      </ul>
    </div>
    <div class="service-circle">
      <i class="fa-solid fa-tooth fa-6x fa-inverse"></i>
      <h3 class="service-type">Dental</h3>
      <ul class="service-offered">
        <li>Dental Services</li>
      </ul>
    </div>
    <div class="service-circle">
      <i class="fa-solid fa-briefcase fa-6x fa-inverse"></i>
      <h3 class="service-type">Legal</h3>
      <ul class="service-offered">
        <li>Domestic abuse</li>
        <li>Immigration</li>
      </ul>
    </div>
    <div class="service-circle">
      <i class="fa-solid fa-handshake-angle fa-6x fa-inverse"></i>
      <h3 class="service-type">Social</h3>
      <ul class="service-offered">
        <li>Bus passes</li>
        <li>Food assistance</li>
        <li>counseling</li>
        <li>Housing assistance</li>
      </ul>
    </div>
    <div class="service-circle">
      <i class="fa-solid fa-hand-holding-hand fa-6x fa-inverse"></i>
      <h3 class="service-type">Therapy</h3>
      <ul class="service-offered">
        <li>Pelvic floor therapy</li>
        <li>Assistive device fitting and usage training</li>
        <li>Physical activity guidelines and recommendations</li>
        <li>General orthopedic conditions</li>
        <li>Difficulties completing daily activities</li>
        <li>Musculoskeletal disorders</li>
        <li>Chronic pain and fatigue</li>
        <li>Difficulty with sleep</li>
        <li>Medical management</li>
        <li>Mental health</li>
      </ul>
    </div>
  </div>

  <div class="service-btns">
    <a
      href="https://docs.google.com/spreadsheets/d/1uxjrtPSZnd4kHOl0JL3yj6Qt5H9H1OIE_iCWc7sr6n8/edit#gid=888205070"
      target="_blank"
      ><button class="calendar">See when Services are Available</button>
    </a>

    <a
      href="https://qfreeaccountssjc1.az1.qualtrics.com/jfe/form/SV_cFMIP3eNwmEQxbU"
      target="_blank"
    >
      <button class="report">Report Mistreatment or Safety Issues</button>
    </a>
  </div>
</section>
<section class="visit-us">
  <div class="visitus-division-sector">
    <div class="visitus-details">
      <h1 class="visitus-header">Visit Us</h1>
      <p class="visitus-pi">Neighborhood Fellowship Church</p>
      <p class="visitus-pi">3102 E 10th Street<br />Indianapolis, IN 46201</p>
      <p class="visitus-pi">Hours: 10am-2pm Every Saturday</p>
      <p class="visitus-pi">
        Closed on the following holidays:<br />Thanksgiving Week<br />Christmas
        Week
      </p>
      <p class="visitus-pi">Phone: (317) 225 - 1881</p>
    </div>
    <div class="visitus-mapping">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12264.535054969616!2d-86.1121558!3d39.7815534!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x98edf4236cc665ea!2sNeighborhood%20Fellowship%20Church!5e0!3m2!1sen!2sus!4v1649809063217!5m2!1sen!2sus"
        width="600"
        height="600"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
