<div class="herobanner">
  <div class="welcome">
    <div>
      <img
        class="cliniclogo"
        src="assets/logos/clinicLogo.jpg"
        alt="Outreach Clinic Logo"
      />
    </div>
    <div>
      <h1 class="welcometext">Welcome to the Student Outreach Clinic</h1>
    </div>
  </div>
  <div class="partner-logos">
    <img
      class="logo"
      src="../../assets/logos/University_of_Indianapolis_Official_Seal.png"
      alt="UIndy Logo"
    />
    <img
      class="logo"
      src="../../assets/logos/logo_-indiana-university-hoosiers-iu-white-with-red-outline.png"
      alt="IU Logo"
    />
    <img
      class="logo"
      src="../../assets/logos/butler_bulldogs_logo_secondary_19903392.png"
      alt="Butler Logo"
    />
  </div>
</div>
<section class="services">
  <h1 class="services-title">Services</h1>

  <div class="service-offer">
    <div class="service-circle">
      <i class="fa-solid fa-house-medical fa-6x fa-inverse"></i>
      <h3 class="service-type">Medical</h3>
    </div>
    <div class="service-circle">
      <i class="fa-solid fa-tooth fa-6x fa-inverse"></i>
      <h3 class="service-type">Dental</h3>
    </div>
    <div class="service-circle">
      <i class="fa-solid fa-briefcase fa-6x fa-inverse"></i>
      <h3 class="service-type">Legal</h3>
    </div>
    <div class="service-circle">
      <i class="fa-solid fa-handshake-angle fa-6x fa-inverse"></i>
      <h3 class="service-type">Social</h3>
    </div>
    <div class="service-circle">
      <i class="fa-solid fa-hand-holding-hand fa-6x fa-inverse"></i>
      <h3 class="service-type">Therapy</h3>
    </div>
  </div>
</section>
<section class="visit-us">
  <div class="visitus-division-sector">
    <div class="visitus-details">
      <h1 class="visitus-header">Visit Us</h1>
      <p class="visitus-pi">Neighborhood Fellowship Church</p>
      <p class="visitus-pi">3102 E 10th Street<br />Indianapolis, IN 46201</p>
      <p class="visitus-pi">Hours: 10am-2pm Every Saturday</p>
      <p class="visitus-pi">
        Closed on the following holidays:<br />Thanksgiving Week<br />Christmas
        Week<br />Sometimes other holidays like the<br />Fourth of July
        depending on when it is.
      </p>
      <p class="visitus-pi">Phone: (317) 255 - 1881</p>
    </div>
    <div class="visitus-mapping">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12264.535054969616!2d-86.1121558!3d39.7815534!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x98edf4236cc665ea!2sNeighborhood%20Fellowship%20Church!5e0!3m2!1sen!2sus!4v1649809063217!5m2!1sen!2sus"
        width="600"
        height="600"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
