<section class="info">
  <!-- Info about the Clinic -->
  <h1 class="about-title">About Us</h1>

  <div class="about-img-banner">
    <img
      class="about-img"
      src="../../assets/clinic-images/inside-clinic.png"
      alt=""
    />
    <img
      class="about-img"
      src="../../assets/clinic-images/iuSchoolOfDentistry.png"
      alt=""
    />
    <img
      class="about-img"
      src="../../assets/clinic-images/iuSchoolOfSocial.png"
      alt=""
    />
  </div>

  <p class="about-Info">
    The Indiana University Student Outreach Clinic is a free, student-run clinic
    that provides primary care-based medical, dental, social, legal services as
    well as other services for the uninsured and underserved in the Indianapolis
    community. Led by IU School of Medicine, the clinic strives to close the
    health care gap in the community by coordinating a medical presence to
    address a wide variety of conditions including infections, musculoskeletal
    complaints, high blood pressure, depression, etc..
  </p>

  <h1 class="history-title">Clinic History</h1>

  <div class="history">
    <div class="history-info">
      <p>
        In February of 2009, Jim Streitlemier, pastor of the nondenominational
        Neighborhood Fellowship Church, located in the area of 10th and Rural in
        Indianapolis, and Dr. Javier Sevilla, primary care physician and
        instructor at Methodist/IU Hospital, joined forces to utilize the church
        to open a free clinic to serve the poor of Indianapolis.
      </p>

      <p>
        Since then, the clinic has continued to grow with the assistance of many
        community partners, including IU, UIndy and Butler University. The
        clinic has also been blessed to have had many hundreds of volunteers
        helping to organize things each week.
      </p>
    </div>
    <div class="founders">
      <img
        class="founder-img"
        src="../../assets/clinic-images/founders.jpg"
        alt="founders"
      />
      <h3>Founders Dr. Javier Sevilla and Pastor Jim Streitlemier</h3>
    </div>
  </div>

  <h1 class="impact-title">Clinic Impact</h1>

  <div class="impact">
    <div class="impact-content">
      <p>Over 1600 patients were seen at the clinic in 2019</p>
    </div>
    <div class="impact-content">
      <p>
        In 2019 over 2,700 prescriptions were dispensed and medication classes
        were offered to ensure understanding and compliance with the
        prescription
      </p>
    </div>
    <div class="impact-content">
      The student outreach clinic has been a national leader and played an
      active role in the growth of student run clinics around the country.
    </div>
  </div>

  <!-- FAQ -->
  <div id="accordion">
    <div id="patient" class="accordion-title">Patient</div>
    <div id="accordionContent" class="accordion-content">
      <h2>When is the clinic available?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque amet
        suscipit debitis fuga ducimus eaque possimus nobis consequatur ratione!
        Sapiente, veniam ut? Dignissimos voluptates maxime vero repellendus
        deserunt nam ratione?
      </p>

      <h2>What services are provided?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque amet
        suscipit debitis fuga ducimus eaque possimus nobis consequatur ratione!
        Sapiente, veniam ut? Dignissimos voluptates maxime vero repellendus
        deserunt nam ratione?
      </p>
    </div>

    <div class="accordion-title">Volunteer</div>
    <div class="accordion-content">
      <h2>How to get involved?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque amet
        suscipit debitis fuga ducimus eaque possimus nobis consequatur ratione!
        Sapiente, veniam ut? Dignissimos voluptates maxime vero repellendus
        deserunt nam ratione?
      </p>
    </div>

    <div class="accordion-title">Staff</div>
    <div class="accordion-content">
      <h2>How to get involved as a staff member?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque amet
        suscipit debitis fuga ducimus eaque possimus nobis consequatur ratione!
        Sapiente, veniam ut? Dignissimos voluptates maxime vero repellendus
        deserunt nam ratione?
      </p>
    </div>

    <div class="accordion-title">Supporter</div>
    <div class="accordion-content">
      <h2>How to support the clinic?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque amet
        suscipit debitis fuga ducimus eaque possimus nobis consequatur ratione!
        Sapiente, veniam ut? Dignissimos voluptates maxime vero repellendus
        deserunt nam ratione?
      </p>
    </div>
  </div>
</section>

<section class="news">
  <!-- Clinic News -->
  <h1 class="news-title">Clinic News</h1>
  <div class="row">
    <!-- <div class="half">
      <h1 class="more-title">Listen to our Podcast</h1>
      <button class="more-btn">Listen on Spotify</button>
    </div> -->
    <div class="half">
      <h1 class="more-title">Monthly Newsletters</h1>
      <a href="#archive/archive">
        <button class="more-btn">Read More</button>
      </a>
    </div>
  </div>

  <div class="row2">
    <div class="article-square">
      <h1 class="article-title">
        IU Dental students win $100K grant to expand treatment for poor
      </h1>
      <a
        href="https://www.indystar.com/story/news/2017/06/05/iu-dental-students-win-100-k-grant-expand-treatment-poor/371102001/"
        target="_blank"
      >
        <button class="read-btn">Read More</button>
      </a>
    </div>
    <div class="article-square">
      <h1 class="article-title">
        This Indianapolis church is also a clinic for the poor. Now it has even
        bigger plans.
      </h1>
      <a
        href="https://www.indystar.com/story/news/local/indianapolis/2019/12/12/indianapolis-church-also-clinic-poor-now-has-even-bigger-plans/2530806001/"
        target="_blank"
      >
        <button class="read-btn">Read More</button>
      </a>
    </div>
    <div class="article-square">
      <h1 class="article-title">
        Free East Indianapolis health clinic is expanding
      </h1>
      <a
        href="https://www.wthr.com/article/news/health/free-east-indianapolis-health-clinic-is-expanding/531-fb4c8d37-a12c-4636-98e1-fa3817524b8a"
        target="_blank"
      >
        <button class="read-btn">Read More</button>
      </a>
    </div>
  </div>

  <div class="row3">
    <div class="video-square">
      <h1 class="video-title">
        Student Outreach Clinic at IU School of Medicine-Indianapolis
      </h1>
      <iframe
        width="400"
        height="300"
        src="https://www.youtube.com/embed/sB8ZUoHnva0"
        frameborder="0"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <div class="video-square">
      <h1 class="video-title">
        Free health clinic on Indy's east side is expanding
      </h1>
      <iframe
        width="400"
        height="300"
        src="https://www.youtube.com/embed/gsVcwsuc95c"
        frameborder="0"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="row3">
    <div class="video-square">
      <h1 class="video-title">Welcome to SOC! IU OT</h1>
      <iframe
        width="400"
        height="300"
        src="https://www.youtube.com/embed/-xBoHofi2xg"
        frameborder="0"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="video-square">
      <h1 class="video-title">IUSOC Orientation</h1>
      <iframe
        width="400"
        height="300"
        src="https://www.youtube.com/embed/Yrgf6nogCvI"
        frameborder="0"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <div class="video-square">
      <h1 class="video-title">IUSOC Informational Video</h1>
      <iframe
        width="400"
        height="300"
        src="https://www.youtube.com/embed/iX-xL688TB4"
        frameborder="0"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="row3">
    <div class="video-square">
      <h1 class="video-title">Welcome to the IU-SOC Clinic</h1>
      <iframe
        width="400"
        height="300"
        src="https://www.youtube.com/embed/gFK1CmcUynk"
        frameborder="0"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="video-square">
      <h1 class="video-title">IU School of Medicine Student Outreach Clinic</h1>
      <iframe
        width="400"
        height="300"
        src="https://www.youtube.com/embed/7qFPisbgsdY"
        frameborder="0"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="row4">
    <div class="video-square">
      <h1 class="video-title">
        New Studnet Outreach Clinic: Coming Soon Summer 2022
      </h1>
      <iframe
        width="400"
        height="300"
        src="https://www.youtube.com/embed/JLdFQS6LNiY"
        frameborder="0"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>

<section class="stories">
  <!-- Patient Stories -->
  <h1 class="story-title">Patient Stories</h1>
  <div class="story">
    <div>
      <p>"This clinic offers great services and the people are kind"</p>
      <p>-Anonymous</p>
    </div>
    <div>
      <p>"The clinic staff are caring and very helpful"</p>
      <p>-Anonymous</p>
    </div>
  </div>
</section>

<section class="research">
  <!-- Research Info -->
  <h1 class="research-title">Research</h1>

  <div class="research-img-banner">
    <img
      class="research-img"
      src="../../assets/clinic-images/inside-clinic.png"
      alt=""
    />
    <img
      class="research-img"
      src="../../assets/clinic-images/iuSchoolOfDentistry.png"
      alt=""
    />
    <img
      class="research-img"
      src="../../assets/clinic-images/iuSchoolOfSocial.png"
      alt=""
    />
  </div>

  <p class="research-Info">
    Research at the SOC is centered on service appraisal, impact measurement,
    and quality improvement. Through an interdisciplinary approach, the goal of
    the Research Team is to offer evidence-based recommendations and ensure that
    services at the SOC align with the standard of care. Currently, Medicine
    (including subgroups like Women's Health, Ophthalmology, and Mental Health
    Services) and Nursing are part of the current Research infrastructure,
    though ideally, the Research Team will grow to include members from ALL
    clinic partners.
  </p>
  <br />
  <p class="research-Info">
    In order to propose a topic, we ask that individuals fill out this form and
    send an email to ndevanat@iu.edu that also confirms submission. The reason
    contact information and name is intentionally not included on this form is
    to blind Research Team members when deciding whether or not to proceed with
    a project, to prevent favoring individuals. Once external ideas are
    approved, the Research Team will submit appropriate paperwork to the Indiana
    University Institutional Review Board to ensure the proposal adheres to
    strict ethical standards.
  </p>
</section>

<!-- FAQ Accordion -->
<script>
  var acc = document.getElementsByClassName("accordion-title");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>
