// Partners Pages
.partners-content {
  width: 1500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 50px 0 50px;

  .partners-header {
    font-size: 70px;
    font-family: $font;
    font-weight: bold;
    margin: 50px 0 50px 0;
    text-align: center;
  }

  .partner-img-banner {
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .partner-img {
      width: 400px;
      height: 100%;
    }
  }

  .partner-info {
    font-size: 30px;
    font-family: $font;
  }

  .partners-btn {
    width: 400px;
    height: 60px;
    background-color: $red;
    border: none;
    border-radius: 50px;
    margin-top: 50px;
    color: $white;
    font-size: 40px;
    font-weight: bold;
    font-family: $font;
  }

  // .contact-header {
  //   font-size: 70px;
  //   font-family: $font;
  //   font-weight: bold;
  //   margin-top: 50px;
  //   text-align: center;
  // }

  // .contact-info {
  //   font-size: 30px;
  //   font-family: $font;
  //   text-align: center;
  // }

  .socialmedia {
    width: 190px;
    height: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    .fa-inverse {
      color: $red;
    }
  }
}
