// Partners Pages
.partners-content {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .partners-header {
    font-size: 70px;
    font-family: $font;
    font-weight: bold;
    margin: 50px 0 50px 0;
    text-align: center;
  }

  .partners-btn {
    width: 500px;
    height: 57px;
    background-color: $red;
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 10px;
    margin-bottom: 10px;
  }

  .partners-btn-txt {
    color: $white;
    font-size: 40px;
    font-weight: bold;
    font-family: $font;
    text-align: center;
  }
}
