// About Us Info Section
.info {
  height: 100%;
  width: 1500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 50px 0 50px;

  .about-title {
    text-align: center;
    font-size: 70px;
    font-family: $font;
    font-weight: bold;
    margin: 50px 0 50px 0;
  }

  .about-img-banner {
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .about-img {
      width: 400px;
      height: 100%;
    }
  }

  .about-Info {
    width: 100%;
    height: 230px;
    font-size: 30px;
    font-family: $font;
  }

  .history-title {
    text-align: center;
    font-size: 70px;
    font-family: $font;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .history {
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .history-info {
      width: 1000px;
      height: 100%;
      font-family: $font;
      font-size: 30px;
      padding: 0 50px 0 0;
    }

    .founders {
      width: 400px;
      height: 400px;
      display: flex;
      flex-direction: column;
      font-family: $font;
      font-size: 15px;

      .founder-img {
        width: 100%;
        height: 300px;
      }
    }
  }

  .impact-title {
    text-align: center;
    font-size: 70px;
    font-family: $font;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .impact {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;

    .impact-content {
      width: 400px;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: $light-grey;
      color: $red;
      border-radius: 50px;
      padding: 20px 20px 20px 20px;
      font-size: 20px;
      font-family: $font;
      font-weight: bold;
    }
  }
}
