// Research Section
.research {
  height: 1080px;
  width: 1500px;
  padding: 0 50px 0 50px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .research-title {
    text-align: center;
    font-size: 70px;
    font-family: $font;
    font-weight: bold;
    margin: 50px 0 50px 0;
  }

  .research-img-banner {
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .research-img {
      width: 400px;
      height: 100%;
    }
  }

  .research-Info {
    width: 100%;
    height: 200px;
    font-size: 30px;
    font-family: $font;
  }
}
