<nav>
  <div class="clinic-title">
    <div>
      <img class="logo" src="assets/icons/iu_trident_web_white.png" alt="IU Logo" />
    </div>

    <div class="name">
      <h1>Indiana Student Outreach Clinic</h1>
    </div>
  </div>

  <div class="links">
    <a id="home" href="#" id="" >Services</a>
    <a id="volunteer" href="#" id="" >Volunteer</a>
    <a id="about" href="#" id="" >About Us</a>
    <a id="donate" href="#" id="" >
      <button class="donateBTN">Donate</button>
    </a>
  </div>
</nav>
